@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
}

/* header */

.navigation-link {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

/* main */

.main-logo-wrapper {
  background-color: #756157;
  background-image: url("../images/main-page-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* advantages */

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item {
  text-align: center;
}

.advantage-wrapper {
  background-color: #82B3D3;
}

.advantage-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.detail {
  color: #ffffff;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-detail .advantages-item:nth-child(even) {
  background-color: #ffffff;
}

/* hotel-search */



/* newsletter */

.newsletter {
  text-align: center;
}

.newsletter-main {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
