@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.site-background {
  background-color: #f2f2f2;
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #615048;
  outline: none;
}

.button:active{
  color: rgba(255, 255, 255, 0.3);
}

.button-second {
  background-color: #82b3d3;
}

.button-second:hover,
.button-second:focus {
  background-color: #68a2ca;
}

.button-current {
  background-color: #7DB54F;
}

.button-current:hover,
.button-current:focus {
  background-color: #6c9e42;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button:disabled{
  background-color: #E5E5E5;
}

/* header */

.page-header {
  display: flex;
  justify-content: flex-end;
  width: 1060px;
  margin: 0 auto;
  padding-left: 139px;
  position: relative;
  z-index: 5;
}

.page-header .header-logo-link {
  position: absolute;
  left: 0;
}

.header-logo-link:focus {
  outline: none;
}

.header-logo-link:focus .header-logo-focus {
  stroke: #756157;
}

.header-logo-link:active {
  opacity: 0.8;
}


.header-logo {
  display: block;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 891px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 500px;
  margin-right: auto;
}

.hotel-navigation {
  max-width: 130px;
  margin-right: 20px;
}

.navigation-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  padding: 20px 17px 19px 17px;
}

.navigation-link:hover,
.navigation-link:focus {
  background-color: rgba(131, 179, 211, 0.12);
  outline: none;
}

.navigation-link:active {
  background-color: rgba(131, 179, 211, 0.2);
}


.navigation-link-current:hover {
  background-color: #ffffff;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  right: 17px;
  bottom: -1px;
  left: 17px;
  height: 2px;
  background-color: #756157;
}

.hotel-navigation .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 33px 21px 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.navigation-search-icon {
  background-image: url("/images/header-images/search.svg");
}

.navigation-favorite-icon {
  background-image: url("/images/header-images/favorite.svg");
}

.navigation-favorite-icon::after {
  content: "12";
  position: absolute;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  padding: 3px;
  letter-spacing: -0.1px;
  border-radius: 50%;
  background-color: #7DB54F;
  top: 15px;
  right: -2px;
}

.button-navigation {
  width: 160px;
  padding: 9px 15px 8px;
}

/* main */

.main-logo-wrapper {
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 63px;
  background-color: #924709;
  background-image: url("../images/main-page-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 88.2%, 79.2% 93.2%, 79.2% 88.2%, 50% 100%, 20.8% 88.2%, 20.8% 93.2%, 0 88.2%);
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.welcome-slogan {
  width: 750px;
  margin: 0 auto;
  margin-bottom: 31px;
}

/* advantages */

.advantages {
  margin-bottom: 90px;
}

.advantages-reasons {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-detail {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 384px;
  padding: 20px;
}

.advantage-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  width: 172px;
  margin: 0;
  margin-bottom: 29px;
}

.advantage-number {
  color: #000000;
  max-width: 80px;
  margin-bottom: 30px;
}

.advantage-description {
  margin: 0;
  width: 230px;
}

.advantage-title-banner {
  position: relative;
  padding-top: 103px;
}

.advantage-banner-housing::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 76px;
  top: -2px;
  left: 49px;
  background-image: url("/images/advantages-images/advantage-housing.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.advantage-banner-food::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 76px;
  top: -2px;
  left: 49px;
  background-image: url("/images/advantages-images/advantage-food.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.advantage-banner-souvenirs::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 76px;
  top: -2px;
  left: 49px;
  background-image: url("/images/advantages-images/advantage-souvenirs.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.advantage-wrapper {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantage-wrapper .advantage-title {
  color: #ffffff;
}

.advantage-wrapper .advantage-number {
  color: #ffffff;
}

.advantages-item-lighter {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-darker {
  background-color: rgba(131, 179, 211, 0.2)
}

.advantages-item-detail:nth-child(2n) .advantage-picture {
  order: -1;
}

/* hotel-search */

.hotel-search {
  margin-bottom: 93px;
}

.hotel-search-slogan {
  width: 365px;
  margin: 0 auto;
  margin-bottom: 29px;
}

.hotel-search-description {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.hotel-search-button {
  width: 574px;
  margin: 0 auto;
  padding: 12px 24px;
}

/* newsletter */

.newsletter {
  text-align: center;
  padding: 94px 0 94px 0;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  width: 800px;
}

.newsletter-main {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-main .title {
  color: #ffffff;
}

.newsletter-slogan {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 29px;
}

.newsletter-description {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.newsletter-input {
  font-family: inherit;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.6);
  width: 600px;
  height: 60px;
  padding: 20px 22px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.newsletter-input:hover {
  background-color: #e6e6e6;
}

.newsletter-input:focus {
  outline: 3px solid #82B3D3;
  outline-offset: -3px;
  background-color: #e6e6e6;
}

.newsletter-input:not(:placeholder-shown) {
  color: #000000;
  outline: 2px solid #000000;
  outline-offset: -2px;
  background-color: #ffffff;

}

.newsletter-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.newsletter-button {
  width: 200px;
  padding: 12px 15px 12px 15px;
  border-radius: 0px 10px 10px 0px;
}

/* footer */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 190px;
  padding: 0;
  margin: 0;
  margin-right: 154px;
  list-style-type: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #83B3D3;
  width: 47px;
  min-height: 48px;
}

.social-link:hover,
.social-link:focus {
  color: #68A2CA;
  outline: none;
}

.social-link:active {
  fill-opacity: 0.3;}

.contact-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 400px;
  margin-right: auto;
}

.contact-phone:hover,
.contact-phone:focus {
  color: #756157;
  outline: none;
}

.contact-phone:active {
  opacity: 0.3;
}

.academy-logo-link {
  color: #000000;
  width: 115px;

}

.academy-logo-link:hover,
.academy-logo-link:focus {
  color: #756157;
  outline: none;
}

.academy-logo-link:active {
  opacity: 0.3;
}

.academy-logo-image {
  display: block;
}


/*-------------------------------- catalog ---------------------------------*/

.filter-wrapper {
  padding-top: 35px;
  padding-bottom: 65px;
  padding-left: 70px;
  padding-right: 70px;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756157;
  margin-bottom: 55px;
}

/* inner-header */

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 22px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  right: 8px;
  background-image: url("/images/catalog-images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-link {
  display: block;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.breadcrumbs-link-home {
  width: 18px;
  height: 20px;
  background-image: url(/images/catalog-images/breadcrumbs-home.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active {
  opacity: 0.3;
}


/* catalog-filter */

.catalog-filter-title {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
}

.filter-form {
  display: flex;
  width: 1060px;
  min-height: 154px;
}

.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  margin-bottom: 30px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 15px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.filter-option-name {
  position: relative;
  padding-left: 40px;
}

.filter-checkbox-name::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-checkbox:checked + .filter-checkbox-name::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 10px;
  left: 5px;
  top: 6px;
  background-image: url(/images/catalog-images/filter-check.svg);
  background-repeat: no-repeat;
}

.filter-option-name:hover.filter-checkbox-name::before {
  opacity: 0.6;
}

.control-checkbox:focus + .filter-checkbox-name::before {
  outline: 3px solid #83B3D3;
  opacity: 0.6;
}

.filter-option-name:active.filter-checkbox-name::before {
  opacity: 0.3;
}

.filter-radio-name::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-radio:focus + .filter-radio-name::before {
  outline: 3px solid #83B3D3;
}

.control-radio:checked + .filter-radio-name::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 6px;
  top: 6px;
  background-color: #3F5E72;
  border-radius: 50%;
}

.filter-options {
  width: 150px;
  margin-right: 70px;
}

.filter-housing-type {
  width: 145px;
  margin-right: 175px;
}

.filter-price {
  width: 288px;
  margin-right: 72px;
}

.filter-control-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 160px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-control-item:not(:last-child) {
  margin-bottom: 14px;
}

.filter-option-name {
  color: #ffffff;
}

.button-filter-apply {
  width: 160px;
  padding: 14px 30px;
}

.button-filter-reset {
  width: 100px;
  margin: 0 auto;
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
  padding: 6px;
}

.button-filter-reset:hover {
  opacity: 0.6;
  background-color: transparent;
}

.button-filter-reset:focus {
  opacity: 1;
  outline: 3px solid #83B3D3;
  background-color: transparent;
}

.button-filter-reset:active {
  opacity: 0.3;
}

/* catalog-hotels */

.catalog-hotels {
  width: 1056px;
  margin: 0 auto;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.search-result {
  text-align: inherit;
  width: 370px;
  margin-right: auto;
}

.sorting {
  /* position: relative; */
  font-family: inherit;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  padding: 10px 40px 10px 18px;
  background-image: url(/images/catalog-images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 17px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
}

/* .sorting::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 7px;
  top: 5px;
  right: 5px;
  background-image: url(/images/catalog-images/select-arrow.svg);
  background-repeat: no-repeat;
} */

.hotels-sorting {
  width: 290px;
  height: 49px;
  margin-right: 77px;
}

.circuit-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  gap: 8px;
  width: 160px;
}

.circuit-button {
  display: block;
  height: 48px;
  background-color: tomato;
}

/* product-cards-list */

.product-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  column-gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 96px;
}

.product-cards-item {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
}

.product-card-link {
  display: block;
  grid-column: 1 / -1;
  align-self: start;
  text-decoration: none;
}

.product-card-image {
  display: block;
  margin-bottom: 16px;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.product-card-button {
  padding: 8px;
}

.rating-stars {
  display: grid;
  grid-template-columns: repeat(5, 18px);
  gap: 8px;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rating-star {
  width: 18px;
  height: 18px;
  background-color: tomato;
}

.hotel-rating {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin: 0;
  padding: 8px;
}

/* catalog-pagination */

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, 60px);
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 468px;
}

.pagination-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  text-align: center;
  border-radius: 4px;
  padding: 12px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.hotels-number-wrapper {
  display: flex;
  align-items: center;
  width: 386px;
}

.hotels-number {
  margin-right: 51px;
}

.page-number-cards {
  min-width: 160px;
}
