@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.site-background {
  background-color: #f2f2f2;
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  border: none;
}

.button-second {
  background-color: #82B3D3;
}

.button-current {
  background-color: #7DB54F;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

/* header */

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.header-logo-link {
  margin-right: 30px;
}

.header-logo {
  display: block;
}

.navigation {
  display: flex;
  width: 891px;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 500px;
  margin-right: auto;
}

.hotel-navigation {
  justify-content: flex-end;
  width: 126px;
  margin-right: 20px;
}

.navigation-link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  padding: 20px 17px;
}

.hotel-navigation .navigation-link {
  padding: 24px 12px;
}

/* main */

.main-logo-wrapper {
  text-align: center;
  background-color: #924709;
  background-image: url("../images/main-page-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.welcome-slogan {
  width: 750px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 16px;
}

/* advantages */

.advantages-reasons {
  width: 720px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
}

.advantages-item-detail {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantage-wrapper {
  color: #ffffff;
  width: 400px;
  min-height: 384px;
  background-color: #82B3D3;
}

.advantages-item-detail:nth-child(2n) .advantage-picture {
  order: -1;
}

.advantage-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-wrapper .advantage-title {
  color: #ffffff;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-detail .advantages-item:nth-child(even) {
  background-color: #ffffff;
}

/* hotel-search */

.hotel-search {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
  padding-left: 94px;
  padding-right: 94px;
}

.hotel-search-slogan {
  width: 365px;
  margin: 0 auto;
}

.hotel-search-description {
  width: 592px;
  margin: 0 auto;
}

/* newsletter */

.newsletter {
  text-align: center;
  padding: 94px;
}

.newsletter-main {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-main .title {
  color: #ffffff;
}

.newsletter-slogan {
  width: 500px;
  margin: 0 auto;
}

.newsletter-description {
  width: 500px;
  margin: 0 auto;
}

.newsletter-input {
  background-color: #f2f2f2;
  border: none;
}

/* footer */

.page-footer {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.social-list {
  width: 189px;
  margin-right: 193px;
}

.contact-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin-right: auto;
}

/*-------------------------------- catalog ---------------------------------*/

.filter-wrapper {
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #756157;
}

/* inner-header */

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  padding-right: 25px;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

/* catalog-filter */

.catalog-filter-title {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
}

.filter-form {
  display: flex;
  width: 1060px;
}

.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-options {
  width: 150px;
  margin-right: 70px;
}

.filter-housing-type {
  width: 145px;
  margin-right: 175px;
}

.filter-price {
  width: 288px;
  margin-right: 70px;
}

.filter-control-list {
  width: 160px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option-name {
  color: #ffffff;
}

.button-filter-reset {
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
}

/* catalog-hotels */

.catalog-hotels {
  width: 1056px;
  margin: 0 auto;
}

.sort-wrapper {
  display: flex;
  /* width: 1057px;
  margin: 0 auto; */
}

.search-result {
  text-align: inherit;
  width: 370px;
  margin-right: auto;
}

.sorting {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.hotels-sorting {
  width: 290px;
  margin-right: 78px;
}

.circuit-buttons {
  width: 160px;
}

/* product-cards-list */

.product-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  /* width: 1056px;
  margin: 0 auto; */
  padding: 0;
}

.product-cards-item {
  width: 340px;
  padding: 20px;
  min-height: 438px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-image {
  display: block;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/* catalog-pagination */

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  /* width: 1056px;
  margin: 0 auto; */
}

.catalog-pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

.catalog-pagination-item {
  margin-right: 8px;
}

.catalog-pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.hotels-number-wrapper {
  display: flex;
  justify-content: space-between;
  width: 386px;
}

.page-number-cards {
  width: 160px;
}
